
    <div class="row justify-content-center mt-0">
      <div class="col-11 col-sm-9 col-md-7 col-lg-4 text-center p-0 mt-3 mb-2">
        <div class="card px-0 pt-4 pb-0 mt-3 mb-3 card-booking">
          <h2><strong><%= t(".title") %></strong></h2>
          <div class="row">
            <div class="col-md-12 mx-0 mx-auto">
              <div id="msform">

<%= simple_form_for [@booking], id: "msform" do |f| %>
<div class="second_info">
  <fieldset>
    <div class="form-card">
      <div>
        <div class="row">
          <div class="col"><%= f.input :firstname %> </div>
          <div class="col-auto"><%= f.input :lastname %></div>
        </div>
        <%= f.input :email %>
        <%= f.input :phone %>
        <div class="row">
          <div class="col-auto city-div" style="padding-right:5px;"> <%= f.input :age %> </div>

        </div>
        <%= f.input :acquisition_canal %>
        <%= f.input :expectation, as: :text, :maxlength => 300 %>
      </div>
    </div>
    <input type="submit" name="next" class="submit-button action-button" id="submit-button" value="envoyer"/>
  </fieldset>
</div>
<% end %>
</div>
</div>
</div>
</div>
</div>
</div>
