  <link href="https://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />
  <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Allura&display=swap" rel="stylesheet">



    <div id="page-top">
      <!-- Google Tag Manager (noscript) -->
      <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WFWJSG8"
        height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- End Google Tag Manager (noscript) -->

        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top " id="mainNav">
            <div class="container container-nav">
                <div class="logo-div u_logo" style="margin-left: 0px;" id="content-desktop">
                  <img src="<%= image_path 'logo_u.png' %>" alt="" class="logo-switch " id="slide" style="height:4rem;">
                  <img src="<%= image_path 'logo_nloqd.png' %>" alt="" class="logo-switch nloqd" id="slide" style="height:4rem;">
                  <img src= "<%= image_path 'logo_curly.png' %>"  alt="" class="logo-switch only-curly-start curly" id="slide" style="height:4rem;">
                </div>
                <div class="logo-div u_logo" style="margin-left: 0px;"  id="content-mobile">
                  <img src= "<%= image_path 'logo_full.png' %>" alt="" class="logo-switch " id="slide" style="height:4rem;">
                </div>

            </div>
        </nav>
                <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class=" text-center">
              <div class="">
                <div class="content-left">
                  <div class="text-left">
                    <div class="text-container">
                      <div class="title-div-b" style="padding-top:50px;">
                      </div>
                      <h4 class="" style="font-size:45px;"> <%= t('.titleMain_html') %></h4>
                      <p class="text-black-50 mb-0" style="font-size:20px; "><%= t('.subtitle') %></p>
                    </div>
                  </div>
                    <div class="header-btn">
                    <%= link_to new_booking_path, class: "nav-item reserver" do  %>
                      <button class="btn-sign call-to-action"><%= t('.bookingBtn') %></button>  </div>
                    <% end %>
                </div>
              </div>

                </div>
            </div>
        </header>
        <div class="projects-section bg-light corona-container" style="">
          <p class="corona-alert" style="text-align:center;">
            <%= t('.corona') %></p>

        </div>
        <section class="projects-section bg-light" id="projects " style="padding-top: 68px;">
            <div class="container parent-container">
                <!-- Project One Row-->
                <div class="row justify-content-center no-gutters mb-5 mb-lg-0">
                    <div class="col-lg-6">
                       <%= image_tag "demo-image-02.jpg", class: "img-fluid"%>
                    </div>

                    <div class="col-lg-6">
                        <div class=" text-center h-100 project"> <!-- bg-black -->
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-left formation_desript">
                                  <%= t('.detailsWorkshop_html') %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Project Two Row-->
                <div class="row justify-content-center no-gutters">
                    <div class="col-lg-6">
                       <%= image_tag "demo-image-01.jpg", class: "img-fluid"%>
                      <!-- <img class="img-fluid" src="assets/img/demo-image-01.jpg" alt="" /> -->
                    </div>
                    <div class="col-lg-6 order-lg-first">
                        <div class=" text-center h-100 project"> <!-- bg-black -->
                            <div class="d-flex h-100">
                                <div class="project-text w-100 my-auto text-center text-lg-right list-formations">
                                    <%= t('.workshopDates_html') %>
                                     <div class="header-btn">
                                      <%= link_to new_booking_path, class: "nav-item reserver" do  %>
                      <button class="btn-sign call-to-action" style="margin-top: 11px;"><%= t('.bookingBtn') %></button>
                    <% end %>
                    </div>
                                    <hr class="d-none d-lg-block mb-0 mr-0" style="margin-left: 0 !important;" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Featured Project Row-->
                <div class="row align-items-center no-gutters mb-4 mb-lg-5" style="padding-top: 8rem;">
                    <div class="col-xl-8 col-lg-7">

                        <!-- <img  class="img-fluid mb-3 mb-lg-0" src="assets/img/demo-image-00.jpg" style="padding-bottom:50px" alt="" /> -->

                    </div>
                    <div class="col-xl-8 col-lg-8 align-items-center mx-auto">
                        <div class="featured-text text-center text-lg-left">
                            <%= t('.mailysDescript_html') %>
                        </div>
                    </div>
                </div>



        </section>
        <!-- Signup-->
        <section class="signup-section" id="signup">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
                        <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
                        <h2 class="text-black mb-5"><%= t('.signup')  %></h2>
                        <form name="submit-to-google-sheet" class="form-inline d-flex ">
                            <%= t('.yourmail_html')  %>
                            <button class="btn btn-primary mx-auto btn-signup" type="submit"><%= t('.sign')  %></button>
                        </form>
                    </div>
                </div>
            </div>

            <script>
              const scriptURL = 'https://script.google.com/macros/s/AKfycbyXU87_CYk-K2uZa_evuv6MYYMGSfAzs9Xcm7HAwMlYu2n0RER-/exec'
              const form = document.forms['submit-to-google-sheet']

              form.addEventListener('submit', e => {
                e.preventDefault()
                fetch(scriptURL, { method: 'POST', body: new FormData(form)})
                  .then(response => console.log('Success!', response))
                  .catch(error => console.error('Error!', error.message))
              })
            </script>
        </section>
        <!-- Contact-->
        <section class="contact-section bg-black">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0"><%= t('.address')  %></h4>
                                <hr class="my-4" />
                                <div class="small text-black-50">Rue de l'église 17, Rhode St Genese 1640</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-envelope text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0">Email</h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"><a href="mailto:mailys@unloqd.be">mailys@unloqd.be</a></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 mb-3 mb-md-0">
                        <div class="card py-4 h-100">
                            <div class="card-body text-center">
                                <i class="fas fa-mobile-alt text-primary mb-2"></i>
                                <h4 class="text-uppercase m-0"><%= t('.phone')  %></h4>
                                <hr class="my-4" />
                                <div class="small text-black-50"> <a href="tel:+32 487 90 44 04">+32 487 90 44 04</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="social d-flex justify-content-center">
                    <a class="mx-2" href="https://www.instagram.com/unloqd"><i class="fab fa-instagram"></i></a>
                    <a class="mx-2" href="https://www.facebook.com/Unloqd.be" target="_blank"> <i class="fab fa-facebook-f"></i></a>
                    <a class="mx-2" href="https://www.linkedin.com/in/mailysrenson/"><i class="fab fa-linkedin-in"></i></a>
                </div>

 <div class=" d-flex justify-content-center" style="text-align: right;">
                   <a  style="font-size: 20px; padding-top: 25px;" href="nl.html">Nederlands</a>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Unloqd 2020</div></footer>
    </div>
