<!DOCTYPE html>
<html>
  <head>
    <title>UnloqdLandingRails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="Vous désirez avoir votre propre site web ou en créer un nouveau au goût du jour, cette formation pratique est faite pour vous." />
        <meta name="author" content="" />

        <title>Unloqd - Votre site web en une journée!</title>
        <meta property="og:title" content="Unloqd - Votre site web en une journée!">
        <meta property="og:description" content="Vous désirez avoir votre propre site web ou en créer un nouveau au goût du jour, cette formation pratique est faite pour vous.">
        <meta property="og:image" content="https://scontent-bru2-1.xx.fbcdn.net/v/t1.0-9/121632417_112988367248680_740262852236954745_o.jpg?_nc_cat=102&_nc_sid=e3f864&_nc_ohc=wuhOnkRW5pMAX9TIwR5&_nc_ht=scontent-bru2-1.xx&oh=6aa60126ad597debe5d25ebf8389e0e7&oe=5FAC52C3">
        <meta property="og:url" content="https://unloqd.be">
        <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
        <!-- Font Awesome icons (free version)-->
        <script src="https://use.fontawesome.com/releases/v5.13.0/js/all.js" crossorigin="anonymous"></script>
        <!-- Google fonts-->

        <!-- Core theme CSS (includes Bootstrap)-->

        <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon-32x32.png">


        <!-- Bootstrap core JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
        <!-- Third party plugin JS-->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
